.button-text {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer; }

.Menu-container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .Menu-container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .Menu-container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .Menu-container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .Menu-container {
    max-width: 1140px; } }

.Menu {
  display: flex; }
  .Menu-wrapper {
    background-color: #fff;
    z-index: 10; }
  .Menu-link {
    display: inline-block;
    padding: 20px;
    color: #333; }
    .Menu-link._active, .Menu-link:hover:not(._active) {
      background-image: url(../../constants/grad.gif);
      color: #fafafa; }
