.button-text {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer; }

.FavoritesList {
  margin: 0;
  padding: 0;
  list-style: none; }

.FavoritesList {
  margin-top: 15px; }
  .FavoritesList-item {
    display: flex; }
  .FavoritesList-link {
    padding: 20px 0;
    flex-grow: 1;
    transition: all 0.3s linear;
    border-left: #2196F3 solid 0px;
    color: #333 !important;
    text-decoration: none !important; }
    .FavoritesList-link:hover {
      border-left-width: 6px;
      padding-left: 6px; }
  .FavoritesList-from-favorites {
    flex-shrink: 0;
    align-self: center;
    cursor: pointer;
    color: #130c2c;
    background: none;
    text-align: center;
    border: none;
    transition: all 0.3s; }
    .FavoritesList-from-favorites:active, .FavoritesList-from-favorites:focus {
      outline: none; }
    .FavoritesList-from-favorites:hover {
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5); }
    .FavoritesList-from-favorites._disabled {
      pointer-events: none;
      opacity: 0.5;
      cursor: default; }
